@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Lato:wght@100&family=Merienda&family=Poppins:wght@100;200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Lato:wght@100&family=Merienda&family=Poppins:wght@100;200&display=swap');


html{
    scroll-behavior: smooth;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}





body{
    font-family: audiowide;
}
p{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


nav,ul{
    list-style: none;
    display: flex;

}    
    
a{
    text-decoration: none;
    cursor: pointer;
    color: inherit;
}


header{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    padding: 35px 100px 0;

}


header h2{
    text-transform: uppercase;

}


header nav li{
    margin: 0 15px;
    text-transform: uppercase;
}

header nav li:first-child{
    margin-left: 0;
}
header nav li:last-child{
    margin-right: 0;
}


@media (max-width:1000px){
    header{
        padding: 20px 50px;
    }


}

@media (max-width:700px){
    header{
        flex-direction: column;
    }

    header h2{
        margin-bottom: 15px;
    }

    header nav li{
        margin: 0 7px;
    }
}


/*banner area */

section{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 110px 100px;
}


@media (max-width:1000px){
    section{
        padding: 100px 50px;
    }


}
@media (max-width:600px){
    section{
        padding: 125px 30px;
    }
}  


section h1,h2{
    max-width: 800px;
    text-align: center;
    margin-bottom: 35px;
    padding: 0 20px;
    line-height: 2;
}


.banner-area{
    position: relative;
    justify-content: center;
    min-height: 100vh;
    color: #fff;
    text-align: center;
    height: 700px;
    
}




.banner-area .banner-img{
    background-image: url(img/1.jpg);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-size: cover;
    background-position: center center;

}


.banner-area .banner-img::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: .8;
}


.banner-area h1{
    margin-bottom: 15px;
    font-size: 65px;
    font-family: merienda;
    letter-spacing: 2px;
}

.banner-area h3{
    margin-bottom: 40px;
    font-size: 25px;
    font-family: merienda;

}
.banner-area .banner-btn{
    padding: 15px 35px;
    background-color: crimson;
    border-radius: 50px;
    text-transform: uppercase;
}

@media (max-width:800px){
    .banner-area{
        min-height: 600px;

    }
    .banner-area h1{
        font-size: 37px;
    }
    .banner-area h3{
        font-size: 20px;
    }
}


/* about area */




.about-content{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    
}

.about-content li{
    padding: 20px;
    height: 290px;
    
    
}


.about-left{
    background-image: url(img/2.jpg);
    background-position: center;
    background-size: cover;
    background-clip: content-box;
    flex-basis: 40%;
}

.about-right{
    flex-basis: 60%;
    
}

.about-right p{
    max-width: 800px;
    margin-bottom: 40px;
    line-height: 1.5;
    text-align: left;
    padding-left: 0;

}

.about-right h2{
    text-align: left;
    margin-bottom: 3%;
    margin-left: -20px;
    
}

.section-title{
    text-transform: uppercase;
    font-size: 50px;
    margin-bottom: 5%;
}

.about-btn{
    background: crimson;
    padding: 20px 35px;
    border-radius: 50px;
    text-transform: uppercase;
    color: #fff;
}


@media (max-width: 1000px){

    .about-left,.about-right{
        flex-basis: 100%;
    }
    

    .about-content li{ 
        padding: 8px;
    }

    
}


@media (min-width: 800px) and (max-width: 999px){

    .about-content li{
        height: 320px;
    }
}


/* services area  */

.services-area{
    background: #ddd;
}

.services-content{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.services-content li{
    flex-basis: 33%;
    padding: 0 30px;
    text-align: center;
}


.services-content li i{
    color: crimson;
    font-size: 50px;
    margin-bottom: 25px;
}

.services-content li h4{
    font-size: 25px;
    margin-bottom: 25px;
}

@media (max-width: 1000px){



    .services-content li{
        width: 100%;
        flex-basis: 100%;
        margin-bottom: 65px;
    }

    .services-content li:last-child{
        margin-bottom: 0;
    }
    .services-content li p{
        padding: 0;
    }
}


/* contact area */


.contact-area{
    background: #fff;
}


.contact-content{

    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.contact-content li{
    flex-basis: 33%;
    text-align: center;
    padding: 0 30px;
}


.contact-content li i{
    color: crimson;
    font-size: 50px;
    margin-bottom: 25px;
}

.contact-content p{
    margin: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}



@media (max-width: 1000px){
    .contact-content li{
        width: 100%;
        flex-basis: 100%;
        margin-bottom: 65px;
    }

    .contact-content li:last-child{
        margin-bottom: 0;
    }

    
}



.gotopbtn{
    position: fixed;
    width: 40px;
    height: 40px;
    background: #313e43;
    bottom: 40px;
    right: 20px;
    text-decoration: none;
    text-align: center;
    line-height: 40px;
    color: #fff;
    font-size: 20px;
    opacity: .6;
}

.gotopbtn:hover{
    opacity: 1;
}





footer{
    display: flex;
    justify-content: center;
    font-size: 20px;
    background: #000;
    opacity: .9;
    color: #fff;
    padding: 20px;
}